@model IEnumerable<CategoryViewModel>

<nav class="header__menu mobile-menu">
    <ul>
        <li><a href="/">Начало</a></li>
        <li>
            <a asp-area="/" asp-controller="Product" asp-action="Index">Категории</a>
            <ul class="dropdown">
                @foreach (CategoryViewModel category in Model)
                {
                    <li >
                        <a class="d-inline-block" asp-area="/" asp-controller="Product" asp-action="Index" asp-route-categoryId="@category.Id">
                            @category.Name
                        </a>
                    </li>
                }
            </ul>
        </li>
        <li><a href="/">Магазини</a></li>
        <li><a href="/">Контакти</a></li>
    </ul>
</nav>