@{
    ViewData["Title"] = "Начало";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Добре дошли в Krushki.Com</h1>
        <hr>
        <div class="mt-3 ">
            <p class="text-justify font-italic">
                Икономичните осветителни тела ви помагат да намалите вашите сметки за електричество до 90% като по този начин само в рамките на една година ще си възвърнете първоначалната инвестиция.
                Това се дължи на факта че по голямата част от изразходваната енергия от светодиодите се превръща в светлина и само много малка част се отделят като топлина в сравнение сравнение с обикновените крушки с нажежаеми жички при които по голямата част от изразходваната електроенергия се превръща в топлина.
                Друго много важно предимство на светодиодите е че те имат много по дълъг живот над 30 000 часа което спрямо старите лампи, чиито живот обикновено е до 1000 часа е минимум 30 пъти по дълъг експлотационен живот.
                Светодиодното осветление има много приложения в домашното и комерсиалното осветление то успешно замества всички стари осветителни тела в нашите домове, като също много успешно се използва за декоративно осветление. Благодарение на гъвкавите светодиодни ЛЕД Ленти вие можете да направите невероятни светлинни ефекти във вашите домове. Използвайки модерните контролери можете дистанционно да ги управлявате и да създавате различни цветови гами за всяко помещение.
                Навлизането на икономичните осветителни тела в комерсиалното осветление допринася за рязкото намаление на разходите за осветление в промишлеността. Модерните светодиодни прожектори успешно заменят старите халогенни прожектори като рязко намаляват разходите за електричество. Също много успешно се налагат в комерсиалното осветление различните видове осветителни тела излъчващи студено бяла светлина те са подходящи за магазини офиси и складове.
                В Заключение но не на последно място трябва и да добавим че икономичните осветителни тела допринасят за нашето здраве те не съдържат вредни вещества и щадят природата защото изразходваме много по малко енергия за осветление съответно много по малко замърсители попадат в природата от ТЕЦ и АЕЦ
                На нашият сайт ще намерите всичко необходимо за вашето светодиодно осветление с високо качество гарантирано от нашата уникална за българският пазар 2 годишна пълна гаранция без разходи, която включва пълно финансово покритие - тоест ние поемаме всички транспортни разходи свързани с връщането и обратната доставка на повредените стоки. Други наши предимства са експресната доставка за следващият ден на всички поръчки които са направени до 14ч в работен ден и безплатната доставка на пратки на стойност над 100лв. Към това трябва да се прибави и нашата гаранция за най ниска цена с която ние ви гарантираме че ако за дадена стока намерите по ниска цена до една седмица след като сте я закупили от нашият сайт при следващата ваша поръчка ние ще ви възстановим разликата в цената. Също така можете да се възползвате от нашите отстъпки за поръчки на осветителни тела на стойност над 200лв за които ще получите 10% отстъпка.
            </p>
        </div>
        <hr />
    </div>

</div>
