@{
    ViewData["Title"] = "Начало";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Добре дошли в Krushki.Com</h1>
        <hr>
        <div class="mt-3 ">
            <ul class="list-unstyled">
                <li>Икономичните осветителни тела ви помагат да намалите вашите сметки за електричество до 90% като по този начин само в рамките на една година ще си възвърнете първоначалната инвестиция.</li>
                <li>Това се дължи на факта че по голямата част от изразходваната енергия от светодиодите се превръща в светлина и само много малка част се отделят като топлина в сравнение сравнение с обикновените крушки с нажежаеми жички при които по голямата част от изразходваната електроенергия се превръща в топлина.</li>
            <li>Друго много важно предимство на светодиодите е че те имат много по дълъг живот над 30 000 часа което спрямо старите лампи, чиито живот обикновено е до 1000 часа е минимум 30 пъти по дълъг експлотационен живот.</li>
            </ul>
        </div>
        <hr />
    </div>

</div>
