@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Промяна на парола";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3>@ViewData["Title"]</h3>

<div class="row mt-3">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div class="form-floating">
                <label asp-for="Input.OldPassword" class="form-label"></label>
                <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Input.NewPassword" class="form-label"></label>
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="mt-2">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <partial name="_StatusMessage" for="StatusMessage" />
            </div>
            <div class="mt-4 text-center">
                <button type="submit" class="btn btn-primary profile-button">
                    Запази
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
