@model LayoutViewModel;

<a asp-area="/" asp-controller="Cart" asp-action="Index">
    <img src="~/img/icon/cart.png" alt=""> <span>@Model.CartProductsCount</span>
</a>
@if(Model.CartProductsCount != 0)
{
    <div class="price">@Model.CartTotalPrice лв.</div>
}
