@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_LoginLayout";
}


<form method="POST" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" class="needs-validation" novalidate="" autocomplete="off">
    
    <div class="mb-3">
        <label class="mb-2 text-muted" asp-for="Input.Email"></label>
        <input asp-for="Input.Email" id="email" class="form-control" autocomplete="username" aria-required="true">
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Input.Password" class="mb-2 text-muted" for="password"></label>
        <input asp-for="Input.Password" id="password" class="form-control" autocomplete="new-password" aria-required="true">
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Input.ConfirmPassword" class="mb-2 text-muted"></label>
        <input asp-for="Input.ConfirmPassword" id="password" class="form-control" autocomplete="new-password" aria-required="true" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    
@*    <p class="form-text text-muted mb-3">
        By registering you agree with our terms and condition.
    </p>*@

    <div class="align-items-center d-flex">
         <button id="registerSubmit" type="submit" class="btn btn-primary ms-auto">Регистрирай</button>
    </div>
</form>

@*        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" class="needs-validation" method="post">
           
            <div asp-validation-summary="All" class="text-danger"></div>


            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>

                    </div>

                </div>
                 <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>

                </div>
            </div>

            <button id="registerSubmit" type="submit" class="btn btn-primary">Register</button>

        </form>   *@