@{
    ViewData["Title"] = "Успешна поръчка";
}    

<link rel="stylesheet" href="~/css/place-order.css" type="text/css" />

<div class="orderSuccess">
    <div class="card">
        <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
            <i class="checkmark">✓</i>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-12">

                    <h1>Успешна поръчка</h1>
                    <p>Очаквайте обаждане от наш служител до 2 работни дни.</p>
                </div>
            </div>
        </div>
    </div>
</div>